<!DOCTYPE html>
{% load static %}
<style>
#tb {
  text-align : center;
  width : 200px;
  font-size : 15px;
  background-color : black;
  color : cyan;
  border : 4px solid red;
  border-radius : 20px;
}
.r1 {
  border : 3px solid black;

}
</style>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="{% static 'css/wa.css' %}">

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <!-- Optional theme -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
  <body>

<nav class = 'navbar navbar-expand-lg navbar-light bg-light'>
  <div class = "container">
<ul class = "navbar-nav">
<li><a id = "tb" class = "navbar-brand" href = "/">Weather Arrow</a></li>
<li class = "nav-item active"><a class = "navbar" href = "/today/">Today</a></li>
<li class = "nav-item active"><a class = "navbar" href = "{% url 'mainPage:history' %}">History</a></li>
<li class = "nav-item active"><a class = "navbar" href = "{% url 'mainPage:compare' %}">Compare</a></li>
<li class = "nav-item active"><a class = "navbar" href = "{% url 'mainPage:all' %}">All</a></li>

</ul>
  </div>
  </nav>

<div class = "container">
  {% block body_block %}
  {% endblock %}
  </div>
  </body>
</html>
